# Excercise

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

s = "Hi there Yogesh!"
*into a list. *

In [13]:
s = "Hi there Yogesh!".split( )

In [14]:
s

['Hi', 'there', 'Yogesh!']

In [15]:
type(s)

list

** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [16]:
planet="Earth"
diameter="12742"

In [17]:
"The diameter of {} is {} kilometers.".format(planet,diameter)

'The diameter of Earth is 12742 kilometers.'

** Given this nested list, use indexing to grab the word "hello" **

In [18]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [19]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [24]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [25]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [26]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [32]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [33]:
## Tuple is Immutable

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [35]:
def fun(x):
    return "xyz@gmail.com".split('@')[1]

In [36]:
fun('xyz@gmail.com')

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [45]:
def Dog(x):
    if "dog" in x.lower():
        return (True)
    else:
        return (False)

In [48]:
Dog("This is your DoG?")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [81]:
def Dog(x):
    c=0
    for w in x.lower().split():
        if w=='dog':
            c+=1
    return c

In [85]:
Dog('Dogro dog do dogthe dog dog')

3

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [86]:
seq = ['soup','dog','salad','cat','great']

In [87]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [88]:
type(seq)

list

In [89]:
map(lambda x:x[0]!='s',seq)

In [99]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

In [101]:
list(filter(lambda x:x[0]=='s',seq))

['soup', 'salad']

# Final Problem
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [124]:
def Speed(s,b):
    if b==True:
        ns = s-5
    else:
        ns=s
    if ns>80:
        print("Big Ticket")
    elif ns>60:
        print("Small Ticket")
    else:
        print("No Ticket")

In [129]:
Speed(61,True)

No Ticket

In [130]:
Speed(81,True)

Small Ticket

In [131]:
Speed(81,False)

Big Ticket

In [132]:
Speed(61,False)

Small Ticket

# Question

Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [152]:
s=input("Enter the Input String:")
num=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    num=num+s[0]
for c in s:
    if c in str(data):
        num=num+c
print(num)

Enter the Input String:-65465asdc
-65465

Q2
Write a program to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [169]:
x=input("Enter the Number: ")
y=int(x[::-1])
z=str(int(x)+y)
print("Number is: ",z)
print("Reverse is: ",z[::-1])
while z!=z[::-1]:
    z=str(int(z)+int(z[::-1]))
    print("Number is: ",z)
    print("Reverse is: ",z[::-1])
print("Palindrome is: ",z)

Enter the Number: 88
Number is:  176
Reverse is:  671
Number is:  847
Reverse is:  748
Number is:  1595
Reverse is:  5951
Number is:  7546
Reverse is:  6457
Number is:  14003
Reverse is:  30041
Number is:  44044
Reverse is:  44044
Palindrome is:  44044

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [170]:
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [172]:
fun1()

75313